/* Mobile */
h1 img {
    width: 10rem;
}

p.lead {
    font-size: 0.875rem;
}

h2.cover-heading {
    font-size: 1.25rem;
}

/* Desktop */
@media (min-width: 768px) {
    h1 img {
        width: 15rem;
    }

    p.lead {
        font-size: 1.25rem;
    }
    h2.cover-heading {
        font-size: 2rem;
    }
}

.cover-container {
  width: 100%;
}

@media (min-width: 768px) {
  .cover-container {
    max-width: 42em;
  }
}

@media (max-width: 767px) {
  .btn-wrapper {
    width: 100%;
  }
}

/* Navbar */
.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}

.text-white.fw-bold.nav-link {
    border-bottom: 2px;
}

.text-white.fw-bold.nav-link:hover {
    border-color: white;
    border-bottom: 2px;
    color: white;
}

.btn-reverse-aqua {
  background-color: #10504F;
  color: #8fe4d3;
}

.btn-reverse-aqua:hover {
  background-color: #082E2D;
  color: #8fe4d3;
}

.btn-aqua {
  background-color: #71c2bd;
  color: white;
}

.btn-aqua:hover {
  background-color: #8fe4d3;
}

.home-header {
  height: 25vh;
}

.home-header h1 {
  font-size: 2.5rem;
}

.hoome-tabs > a {
  color: #9e9e9e;
}

.hoome-tabs > a:hover {
  color: #222222;
}

.hoome-tabs > a:first-child {
  color: #222222;
  border-color: #222222;
}

.home-main {
  max-height: 60vh;
  padding-bottom: 13vh;
}

.home-play-btn {
  font-size: 2.3rem;
}

.more-for-each-subject {
  color: #9f9f9f
}

.home-actions > a {
  border-radius: 0.7rem;
  background-color: #ededed;
  color: #5e5e5e;
}

.home-actions > a:hover {
  background-color: #cacaca;
}

.home-navbar {
  background-color: #F5F5F5;
}

.home-navbar > a > * {
  color: #7b7b7b;
}

.home-navbar > a:hover > * {
  color: #212121;
  transition: 0.4s;
}

.home-navbar > a:first-child > *{
  color: #212121;
}

/* .home-navbar > a:not(:first-child):not(:last-child) > *{
  color: #212121;
} */

.mygroups-main {
  max-height: 80vh;
  padding-bottom: 13vh;
}

.home-navbar > a:first-child:hover > * {
      color: #212121;
}

/* Background colors based on hours */
.calendar-cell {
  /* padding-left: 2vw;
  padding-right: 2vw; */
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;
  font-size: 14px;
  width: 13vw;
  color: #212121;
}
@media (min-width: 768px) {
  .calendar-cell {
  padding-top: 1vh;
  padding-bottom: 1vh;
}
}
.calendar-cell[data-hours="0"] { background-color: #fafafa; }
.calendar-cell[data-hours="4"] { background-color: #eee; }
.calendar-cell[data-hours="7"] { background-color: #e0e0e0; }
.calendar-cell[data-hours="10"] { background-color: #bdbdbd; }

